<div class="container listingOffsetTextColor">
    <div class="spinner-grow loader text-success" *ngIf="loading"></div>
  <h3 *ngIf="!loading">{{edit ? 'Update Product Details - ' + item.sampleNo : 'Enter product information'}}</h3>
  <!-- <h5 *ngIf="edit">Sample No - {{item['sampleNo']}} | Grade - {{item['grade']}}| MFG - {{mfgname}}</h5> -->
  <!-- <form [formGroup]="form" (ngSubmit)="addproduct()"> -->
    <form [formGroup]="form" *ngIf="!loading">
  <!-- <form [formGroup]="form" method ="post" action='/testcall' enctype="multipart/form-data"> -->
  <!-- enctype="multipart/form-data"> -->
    <div formGroupName="newitem">
      <div class="row">
        <div class="col-md-5 pr-1" *ngIf="formControls.itemname">
          <div class="form-group">
            <label>Item name</label>
            <select class="form-control" id="itemname" formControlName="itemname"
                    (ngModelChange)="onItemChange($event)">
              <option value=''>Select Item</option>
              <option *ngFor="let item of itemnames" [ngValue]="item._id"> {{ item.name }} </option>
            </select>

          </div>
        </div>
        <div class="col-md-3 pl-1" *ngIf="formControls.itemcategory">
          <div class="form-group">
            <label>Category</label>
            <select class="form-control" id="itemcategory" [attr.disabled]="!form.value.newitem.itemname?'':null"
              formControlName="itemcategory">
              <option value=''></option>
              <option *ngFor="let category of categories" [ngValue]="category._id"> {{ category.name }}</option>
            </select>

          </div>
        </div>
      </div>

      <div class="row">
        <!-- <div class="col-md-5 pr-1" *ngIf="formControls.sampleno">
          <div class="form-group">
            <label>Sample No</label>
            <input type="text" id="sampleno"class="form-control" formControlName="sampleno" placeholder="Enter Sample no.">
          </div>
        </div> -->
        <div class="col-md-3 pr-1" *ngIf="formControls.grade && role == 'admin'" >
          <div class="form-group">
            <label>Grade</label>
            <input type="text" id="grade" class="form-control" formControlName="grade" placeholder="Add Product Grade" >
          </div>
        </div>
      </div>
      <h5>Enter product specs</h5>
      <div class="row">
        <div class="col-md-3 pr-1" *ngIf="formControls.moisture">
          <div class="form-group">
            <label>Moisture</label>
            <input type="text" id="moisture" class="form-control" formControlName="moisture" placeholder="Enter moisture content in item (Optional)">
          </div>
        </div>
        <div class="col-md-3 pl-1" *ngIf="formControls.graincount">
          <div class="form-group">
            <label>Grain Count</label>
            <input type="text" id="graincount" class="form-control" formControlName="graincount" placeholder="Add Grain Count (Optional)">
          </div>
        </div>
        <div class="col-md-3 pl-1" *ngIf="formControls.icumsa">
          <div class="form-group">
            <label>ICUMSA</label>
            <input type="text" id="icumsa" class="form-control" formControlName="icumsa" placeholder="Add icumsa (Optional)">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 pr-1" *ngIf="formControls.qty">
          <div class="form-group">
            <label>Quantity</label>
            <input type="text" id="qty" class="form-control" formControlName="qty" placeholder="Add available Quantity">
          </div>
        </div>
        <div class="col-md-2 pl-1" *ngIf="formControls.unit">
          <div class="form-group">
            <label>Unit</label>
            <!-- <input type="text" id="unit" class="form-control" formControlName="unit" placeholder="Unit"> -->
            <select class="form-control" id="unit" formControlName="unit">
              <option value=''></option>
              <option *ngFor="let unit of units" [ngValue]="unit._id"> {{ unit.mass }} </option>
            </select>
          </div>
        </div>
        <div class="col-md-2 pl-1" *ngIf="formControls.price">
          <div class="form-group">
            <label>Price</label>
            <input type="text" id = "price" class="form-control" formControlName="price" placeholder="Selling Price">
          </div>
        </div>
        <div class="col-md-5 pl-1" *ngIf="formControls.seller">
          <div class="form-group">
            <label>Seller</label>
            <select class="form-control" id="seller" formControlName="seller"
            (change)="onSellerChange(seller.value)">
            <option value=''></option>
            <option *ngFor="let sell of sellers" [ngValue]="sell"> {{ sell.name }} </option>
            </select>
          </div>
        </div>
      </div>

      <h5>Product location specific information </h5>
      <div class="row">
        <div class="col-md-2 pr-1" *ngIf="formControls.origin">
          <div class="form-group">
            <label>Origin</label>
            <input type="text" id="origin" class="form-control" formControlName="origin" placeholder="Enter Origin">
          </div>
        </div>
        <div class="col-md-5 pl-1" *ngIf="formControls.address">
          <div class="form-group">
            <label>Address</label>
            <!-- <input type="text" id="address" class="form-control" formControlName="address" placeholder="Enter Address"> -->
            <select name="address" id="address" formControlName="address" class="form-control"
              [attr.disabled]="!form.value.newitem.seller?'':null">
              <option value=''></option>
              <option *ngFor="let addr of addresses" [ngValue]="addr._id">
                {{ (addr.addresstype === 'registered') ? '[Default]': addr.addressbasicdtl.partyname}},{{addr.text}},{{addr.pin}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-2 pl-1" *ngIf="formControls.city">
          <label for="city">City:</label>
          <select class="form-control" id="city" formControlName="city">
            <option value=''></option>
            <option *ngFor="let c of cities" [ngValue]="c._id"> {{ c.name }} </option>
          </select>
        </div>
        <div class="col-md-3 pl-1" *ngIf="formControls.manufacturer">
          <div class="form-group">
            <label>Select Manufacturer</label>
            <select name="Manufacturer" id="manufacturer" formControlName="manufacturer" class="form-control">
              <option value=''></option>
              <option *ngFor="let mnf of manufacturers" [ngValue]="mnf._id"> {{ mnf.name }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-3 pr-1" *ngIf="formControls.image">
          <div class="form-group">
            <label for="file">Upload item image</label>
          <!-- <input type="file" id="file" (change)="onFileChange($event)" formControlName="file"> -->
          <input type="file" name="image" id="image" ng2FileSelect [uploader]="uploader" formControlName="image" accept=".jpg,.png,.jpeg">
          <!-- <img [src]="url" style="display: none;"> -->
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4 pr-1" *ngIf="formControls.itemstatus  && role == 'admin'">
          <div class="form-group">
            <label for="file">Set item status</label> <br>
            <label class="radio">
            <input type="radio" id="itemstatus" formControlName="itemstatus" value='true'> Active </label> &nbsp;
            <label class="radio">
            <input type="radio" id="itemstatus" formControlName="itemstatus" value='false'> Inactive </label>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-3 pr-1" *ngIf="formControls.istaxable">
            <div class="form-group">
              <label>Is Product taxable</label> <br>
                <select name="istaxable" id="istaxable" formControlName="istaxable" class="form-control">
                  <option value='true'>Yes </option>
                  <option value='false'> No </option>
                </select>
            </div>
          </div>
          <div class="col-md-3 pr-1" *ngIf="formControls.istaxable">
            <div class="form-group">
              <label>Remarks</label> <br>
              <input type="text" id="remarks" class="form-control" formControlName="remarks" placeholder="Seasonal Info">
            </div>
          </div>
          </div>
          <h5 *ngIf='edit'>Bargain options</h5>
          <div class="row">
              <div class="col-md-4 pr-1" *ngIf="formControls.bargainstatus">
                <div class="form-group">
                  <label for="file">Set Bargain status</label> <br>
                  <label class="radio">
                  <input type="radio" id="bargainstatus" formControlName="bargainstatus" value='true' [checked]="brgStatus == true" (click)="toggle()"> Active </label> &nbsp;
                  <label class="radio">
                  <input type="radio" id="bargainstatus" formControlName="bargainstatus" value='false' [checked]="brgStatus == false" (click)="toggle()"> Inactive </label>
                </div>
              </div>
            </div>
              <div class="row">
              <div class="col-md-3 pr-1" *ngIf="formControls.bargaintrgqty">
                  <div class="form-group">
                    <label>Minimum Quantity for Bargain</label>
                    <input type="number" id="bargaintrgqty" class="form-control" formControlName="bargaintrgqty" [attr.disabled]="!textBoxDisabled ? '' : null"
                    placeholder="Enter Quantity">
                  </div>
                </div>
              </div>
            
    </div>

    <!-- <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button> -->
    <button class="btn btn-primary"
    (click)="uploader.uploadAll()"
    [disabled]="(!uploader.getNotUploadedItems().length && !edit) || !form.valid" *ngIf='!edit'>
      Add this Product
    </button>
    <button class="btn btn-primary"
    (click)="updateproduct()"
    [disabled]="clicked" *ngIf='edit'>
      Update Product
    </button>
  </form>
</div>