<div class="container">
    <div class="container listingOffsetTextColor">
      <!-- <div class="col-12 col-md-6"> -->
        <!-- <div class="card-footer"> -->
          <h4>List a Group Buying product</h4>
          <a href="/listgbItem" class="btn btn-primary sm">Add a item for Group Buying</a>
          <!-- <a [routerLink]="www.google.com" routerLinkActive="router-link-active" class="btn btn-primary btn-block">List a group buying item</a> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div>
    
    <div class="container listingOffsetTextColor"> -->
      <br>
      <br>
      <div class="spinner-grow loader text-success" *ngIf="loading"></div>
      <h4>Showing list of available group buying</h4>
        <table class="table table-hover table-sm" [ngClass]="{'loading' : loading}" *ngIf="!loading">
            <thead>
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Category</th>
                <th scope="col">Grade</th>
                <th scope="col">Origin</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Deal Price</th>
                <th scope="col">MOQ</th>
                <th scope="col">Max Cap</th>
                <th scope="col">Spec</th>
                <th scope="col">Sampleno</th>
                <th scope="col">Total Qty</th>
                <th scope="col">Tax Rate</th>
                <!-- <th scope="col">Status</th> -->
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let order of data">
              <tr>
                <td>{{order.item.name.name}}</td>
                <td>{{order.item.category.name}}</td>
                <td>{{order.item.grade}}</td>
                <td>{{order.item.origin}}</td>
                <td>{{order.gbstarttime | date:'dd-MMM-yy hh:mm a'}}</td>
                <td>{{order.gbendtime | date:'dd-MMM-yy hh:mm a'}}</td>
                <td>{{order.dealprice}}</td>
                <td>{{order.moq}}</td>
                <td>{{order.maxqty}}</td>
                <td>{{order.specs}}</td>
                <td>{{order.item.sampleNo}}</td>
                <td>{{order.totalqty}}</td>
                <td>{{order.taxrate}}</td>
                <!-- <td><button (click)="updateOrder(order)">update</button></td> -->
              </tr>
            </ng-container>
              </tbody>
              </table>
    </div>
  </div>
