<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Place your bid</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="auction">
  <div class="error-block alert alert-danger" *ngIf="form.invalid && submitted">
    <p *ngIf="getErrors('quantity').max">Quantity can not exceed {{auction.maxQty}}</p>
    <p *ngIf="getErrors('quantity').min">Quantity should be greater than {{auction.minQty}}</p>
    <p *ngIf="getErrors('price').required">Please enter Price</p>
    <p *ngIf="getErrors('price').max">Price can not exceed {{auction.ceilingPrice}}</p>
    <p *ngIf="getErrors('price').min">Price should be greater than {{auction.floorPrice}}</p>
  </div>
  <div class="spinner-grow loader text-success" *ngIf="loading"></div>

  <form [formGroup]="form" (ngSubmit)="save($event)" [ngClass]="{'loading' : loading}">
    <div formGroupName="newItem">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Quantity (in {{auction.unit.mass}})</label>
            <input type="number" id="quantity" class="form-control" formControlName="quantity"
                   placeholder="Quantity">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Price in Rupees</label>
            <input type="number" id="price" class="form-control" formControlName="price"
                   placeholder="Price">
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save($event)">Save</button>
</div>

