<div *ngIf="listing.name.name" class="card ItemCard">
  <img *ngIf="listing.image" class="card-img-top ItemCardImage" [src]="listing.image" alt="{{ listing.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ listing.name.name }} | {{ listing.category.name }} | {{listing.sampleNo}} </h5>
    <p class="card-text"> Rs. {{ listing.price }}/{{ listing.unit.mass }}* | MFG - {{ listing.manufacturer?listing.manufacturer.name :"" }}</p>
    <p class="card-text"> Origin - {{ listing.origin }} <span class="ItemSmallFont"> (*Ex Factory cost)</span></p>
    <!-- <p class="card-text"> <span class="ItemSmallFont"> *Excluding Transportation cost</span></p> -->
    <div class = "ItemMediumFont">Listed By - {{ listing.showaddedbyname && listing.addedby ? listing.addedby.name: listing.addedby ? (listing.addedby.isAgent || listing.addedby.isAdmin) ? 'Broker' : 'Seller' : 'Seller' }}</div>
    <p class="card-text ItemMediumFont"> *Plus taxes, if applicable <br> **Excl. Transportation cost, <a routerLink="/transport/findtransport">See Options</a></p>
  </div>
  <div class="card-footer">
    <a class="btn btn-primary btn-block" [routerLink]="['/products', listing._id]" routerLinkActive="router-link-active" >Product Details</a>
  </div>
</div>
