<div class="farmbg"></div>
<div class="container shdw">
    <div class="listingOffsetTextColor">
  <div class="row container bordermk">

    <div class="col-12 col-md-6">
      <div class="ItemCardContainer">
          <div class="card ItemCardDesc">
              <div class="card-body">
              <img class="card-img-top ItemCardImage" [src]="bargain.item.image" alt="{{
                bargain.item.name }}">

              <table style="width:100%" >
                  <tr>
                    <th>
                      <h3 class="card-title"> {{ bargain.item.name.name }} | {{ bargain.item.category.name }}</h3>
                    </th>
                  </tr>
                  <tr>
                    <th>Sample Number: {{ bargain.item.sampleNo}}</th>
                  </tr>
                  <tr>
                    <th>Origin: {{bargain.item.origin}}</th>
                  </tr>
                  <tr>
                    <th>Manufacturer: {{bargain.item.manufacturer.name}}</th>
                  </tr>
                  <tr>
                    <th>List Price: Rs. {{ bargain.item.price }}/{{ bargain.item.unit.mass }} </th>
                  </tr>
                  <tr>
                    <th class="ItemTextDtl">You can place request for a maximum of 3 times post which the request will be closed if not accepted</th>
                  </tr>
                </table>

          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="ItemCardContainer">
        <div class="card ItemCardDesc">
          <div class="card-body">
              <table style="width:100%">
                  <tr>
                      <th> <h4 class="card-title"> Bargain window</h4></th>
                    </tr>
                    <tr>
                      <th> Requested Qty:{{bargain.quantity}} {{bargain.item.unit.mass}}</th>
                    </tr>
                    <tr>
                        <th> Requested on {{bargain.firstquote.requestedon | date:'dd-MMM-yy hh:mm a' }}</th>
                      </tr>
                      <tr *ngIf="userTurn != role">
                          <th> Status : Awaiting {{ userTurn}} response</th>
                        </tr>
                        <tr>
                          <th> {{bargain.bargaincounter}}</th>
                        </tr>

              </table>

              <!-- <form #f="ngForm" class="form-horizontal" > -->
                <div *ngIf="bargain.bargaincounter == 1">
                  <div class="alert alert-primary" role="alert" *ngIf="bargain.firstquote.buyerquote">
                      {{quoteBuyerType}} 1st quote : Rs. {{bargain.firstquote.buyerquote}}/{{bargain.item.unit.mass}}
                    </div> 
                    <div class="alert alert-secondary" role="alert" *ngIf="bargain.firstquote.sellerquote">
                        {{quoteSellerType}} quote : Rs. {{bargain.firstquote.sellerquote}}/{{bargain.item.unit.mass}}
                      </div>
                    </div>  
                    <div *ngIf="bargain.bargaincounter == 2">
                      <div class="alert alert-primary" role="alert" *ngIf="bargain.secondquote.buyerquote">
                          {{quoteBuyerType}} 2nd quote : Rs. {{bargain.secondquote.buyerquote}}/{{bargain.item.unit.mass}}
                        </div>
                     
                        <div class="alert alert-secondary" role="alert" *ngIf="bargain.secondquote.sellerquote">
                            {{quoteSellerType}} quote : Rs. {{bargain.secondquote.sellerquote}}/{{bargain.item.unit.mass}}
                          </div>
                        </div>
                        <div *ngIf="bargain.bargaincounter == 3">
                          <div class="alert alert-primary" role="alert" *ngIf="bargain.thirdquote.buyerquote">
                              {{quoteBuyerType}} 3rd quote : Rs. {{bargain.thirdquote.buyerquote}}/{{bargain.item.unit.mass}}
                            </div>
                            <div class="alert alert-secondary" role="alert" *ngIf="bargain.thirdquote.sellerquote">
                                {{quoteSellerType}} quote : Rs. {{bargain.thirdquote.sellerquote}}/{{bargain.item.unit.mass}}
                              </div>
                            </div>    
                  <!-- <form [formGroup]="userQuotes" > -->
                  <div class="form-group col-md-6" *ngIf="role==userTurn || role == 'admin'">
                      <label for="price">Enter your price</label>
                      <input (input)="userquote=$event.target.value" type="number" class="form-control">
                      <!-- <input required name="firstquote" id="firstquote" type="number" formControlName="firstquote" class="form-control"> -->
                      <!-- <input required ngModel name="firstquote" #firstquote="ngModel" id="firstquote" 
                  type="number" class="form-control"> -->
                    </div>
                  <!-- </form> -->

                  <button class="btn btn-primary" *ngIf="role==userTurn || role == 'admin'" (click)="counterBargain()" >Counter</button> &nbsp; &nbsp;
                  <button class="btn btn-success" (click)="acceptBargain()">Accept</button> &nbsp; &nbsp;
                  <button class="btn btn-danger" (click)="rejectBargain()" >Reject</button> &nbsp; &nbsp;
          
                  <button class="btn btn-warning" *ngIf="role=='seller' || role == 'admin'" (click)="pauseBargain()">Pause</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



