.listingOffsetTextColor {
  padding-top: 80px;
  color: black;
  padding-left: 9.5%;
}

.ItemCardContainer {
  padding: 10px;
}

.row-container{
  padding-left: 0px;
}

.sidebar{
  //background: #637a36;
}


:host ::ng-deep  {
  .loader {
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 2;
  }

  .loading {
    opacity: 0.2;
  }

  .text-success {
    color: #637a36 !important;
  }
}
