<div class="container listingOffsetTextColor">
  <!-- <div class="error-block alert alert-danger" *ngIf=="submitted"> -->
  <!-- <div class="spinner-grow loader text-success"></div> -->
  <form [formGroup]="form" (ngSubmit)="save($event)">
    <div formGroupName="newcategory">
      <div class="row">
        <h4>Add new category</h4>
      </div>
      <div class="row" *ngIf=edit>
        <h5><span class="badge badge-secondary">Edit details for {{categoryEdit.name}}
            </span></h5>
        <!-- <label>Edit details for {{transportEdit.capacity}} {{transportEdit.tonnagein}} load<br>
        From - {{transportEdit.from.name}} <br>
        To - {{transportEdit.to.name}} </label> -->
      </div>
      <div class="row">
        <div class="col-md-3 pl-1" *ngIf="formControls.name">
          <div class="form-group">
            <label>Category Name</label>
            <input type="text" id="name" class="form-control" formControlName="name"
                   placeholder="Enter category">
          </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-3 pl-1" *ngIf="formControls.itemnameId">
        <div class="form-group">
            <label for="itemnameId">Itemname:</label>
            <select class="form-control" id="itemnameId" formControlName="itemnameId">
              <option value='Select Itemname'></option>
              <option *ngFor="let item of itemnames" [ngValue]="item._id"> {{ item.name }}</option>
            </select>
          </div>
          </div>
        </div>
     

      <div class="row">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
<!-- </div> -->
