<div class="farmbg"></div>
<div class="container shdw" *ngIf="listing">
    <div class="listingOffsetTextColor">
  <div class="row container bordermk">

    <div class="col-12 col-md-6">
      <div class="ItemCardContainer">
        <img class="card-img-top ItemCardImage" [src]="listing.image" alt="{{
          listing.name }}">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="ItemCardContainer">
        <div class="card ItemCardDesc">
          <div class="card-body">
            <table style="width:100%">
              <tr>
                <th>
                  <h3 class="card-title">{{ listing.name.name }} </h3>
                </th>
              </tr>
              <tr *ngIf="activeBargain">
                <span class="badge badge-secondary">Active bargain in place with seller</span>
              </tr>
              <tr>
                <th>Sample Number: {{ listing.sampleNo}}</th>
              </tr>
              <tr>
                <th>Type: {{ listing.category.name }}</th>
              </tr>
              <tr>
                <th>Price: Rs. {{ listing.price }} Per {{ listing.unit.mass }} </th>
              </tr>
            </table>


          <form #f="ngForm" class="form-horizontal" (ngSubmit)="order(f.value)">  
          <!-- <form [formGroup]="form" class="form-horizontal" (ngSubmit)="order()">  -->
            <!-- <div formGroupName="saveOrder"> -->
            <div class="form-group row">
                <label for="quantity" class="col-sm-4 control-label">Quantity</label>
                <div class="col-sm-7">
                  <input required ngModel name="quantity" #quantity="ngModel" id="quantity"
                  type="number" class="form-control"  (keyup)="onQuantityChange(quantity.value)">
                </div>
                <div *ngIf="quantity.touched && !quantity.valid">
                  <div class="alrt">  Quantity is required </div>
                </div>
            </div>

            <div>
              Price : Rs. {{ price }} <span class= "ItemTextDtl"> *Transportation cost extra</span>
            </div>
            <div *ngIf="isEligibleForBargain">
              <span class ="ItemTextDtl">You are eligible to negotiate price with seller.To proceed click intiate bargain</span>
            </div>
            <div class="form-group row ItemTextDtl" *ngIf="!showShippingDetails">
                <label for="shipaddr" class="col-sm-4 control-label">Shipping Address</label>    
                <select class="form-control col-sm-7" id="shipaddr" name="shipaddr"
                [(ngModel)]="shipaddr">
                  <!-- <option value=''>Select an address</option> -->
                  <option *ngFor="let addr of addresses" [ngValue]="addr"> {{ (addr.addresstype === 'registered') ? '[Registered]': addr.addressbasicdtl.partyname}},{{addr.text}},{{addr.pin}} </option>
                </select>
            </div> 
            <!-- Form for storing shipping details -->
            
              <div class="form-group ItemTextDtl row">

                <label class="col-sm-12 control-label">Add shipping address if not listed 
                  <input type="checkbox" name="showShippingDetails" id="showShippingDetails" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="showShippingDetails"></label>     


            </div>
            <!-- <div class="form-group" ngShow="Shipping.Address"> -->  
                 
            <div class="form-group" *ngIf="showShippingDetails">
            <div class="form-group ItemTextDtl row">
                <label for="partyname" class="col-sm-3 control-label">Party Name</label>
                <div class="col-sm-8">
                  <input ngModel name="partyname" id="partyname" #partyname="ngModel"
                  type="text" class="form-control">
                </div>
            </div>
            <div class="form-group ItemTextDtl row">
                <label for="partygstin" class="col-sm-3 control-label">GSTIN</label>
                <div class="col-sm-8">
                  <input ngModel name="partygstin" id="partygstin" #partygstin="ngModel"
                  type="text" class="form-control">
                </div>
            </div>
            <div class="form-group ItemTextDtl row">
                <label for="address" class="col-sm-3 control-label">Address</label>
                <div class="col-sm-8">
                  <input ngModel name="address" id="address" #address="ngModel"
                  type="text" class="form-control" placeholder="Enter delivery address line,city">
                </div>
            </div> 


            <div class="form-row ItemTextDtl">
                <div class="col-md-5">
                    <label for="pincode">Pincode</label>
                    <input ngModel name="pincode" id="pincode" placeholder="Enter pincode" #pincode="ngModel"
                    type="text" class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label for="statedat">State</label>
                  <select class="form-control" id="statedat" name="statedat"
                  [(ngModel)]="statedat">
                  <option value=''>Select State</option>
                  <option *ngFor="let stat of state" [ngValue]="stat._id"> {{ stat.name }} </option>
                  </select>
                </div>
              </div>

            <div class="form-group ItemTextDtl row">
                <label for="phone" class="col-sm-3 control-label">Phone</label>
                <div class="col-sm-8">
                  <input ngModel name="phone" id="phone" #phone="ngModel"
                  type="text" class="form-control">
                </div>
            </div>
          </div>

        <!-- End of shipping details -->

            <div>
            <button class="btn btn-primary" [disabled]="(!f.valid) || (!priceValid)">Submit</button>
            
          </div>
        <!-- </div> -->
          </form>
          <br>
          <div *ngIf="isEligibleForBargain"><a [routerLink]="['/bargainOrder',listing._id]"
              routerLinkActive="router-link-active" click="checkActiveBargain()" class="btn btn-secondary">Initiate
              Bargain</a>
          </div>
        <div *ngIf="activeBargain">
          <!-- <button class="btn btn-primary" *ngIf="isEligibleForBargain">Initiate Bargain</button> -->
          <a [routerLink]="['/bargainQuote',bargain._id]" routerLinkActive="router-link-active"
            class="btn btn-secondary">Check Bargain Status</a>
        </div>
        </div>

        </div>
      </div>
    </div>
  </div>
  </div>
</div>



