<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active' : activeTab==='active'}" (click)="changeTab('active')">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active' : activeTab==='pending'}" (click)="changeTab('pending')">Pending for
      approval</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active' : activeTab==='inactive'}" (click)="changeTab('inactive')">Inactive</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container" [ngClass]="{'active' : activeTab==='active'}" id="active">
    <app-auction-table [auctions]="activeAuctions" [actions]="['bids','details']"
                       (onDataChange)="onDataChange($event)"></app-auction-table>
  </div>
  <div class="tab-pane container" [ngClass]="{'active' : activeTab==='pending'}">
    <app-auction-table [auctions]="pendingAuctions" [actions]="['approve']"
                       (onDataChange)="onDataChange($event)"></app-auction-table>
  </div>
  <div class="tab-pane container" [ngClass]="{'active' : activeTab==='inactive'}">
    <app-auction-table [auctions]="inActiveAuctions" [actions]="['bids','details']"
                       (onDataChange)="onDataChange($event)"></app-auction-table>
  </div>
</div>
