<nav class="sidebar" *ngIf="role">
  <ul class="list-unstyled components">
    <li *ngIf="role=='admin' || role=='transporter'">
      <a class="nav-link scrollto p" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/transport/add">List Transport Rate</a>
    </li>
    <li *ngIf="role=='admin' || role=='transporter'">
      <a class="nav-link scrollto p" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/transport/user">My Listings</a>
    </li>
    <li *ngIf="role=='admin' || role=='transporter'">
      <a class="nav-link scrollto p" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/transport/dispatch">Order Dispatch</a>
    </li>
    <li>
      <a class="nav-link scrollto p" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/transport/findtransport">Find Transporter</a>
    </li>
  </ul>
</nav>
