<div class="container listingOffsetTextColor">
  <!-- <div class="error-block alert alert-danger" *ngIf=="submitted"> -->
  <!-- <div class="spinner-grow loader text-success"></div> -->
  <form [formGroup]="form" (ngSubmit)="save($event)">
    <div formGroupName="newcity">
      <div class="row">
        <h4>Add new City</h4>
      </div>
      <div class="row" *ngIf=edit>
        <h5><span class="badge badge-secondary">Edit details for {{cityEdit.name}}
            </span></h5>
      </div>
      <div class="row">
        <div class="col-md-3 pl-1" *ngIf="formControls.name">
          <div class="form-group">
            <label>City</label>
            <input type="text" id="name" class="form-control" formControlName="name"
                   placeholder="Add City">
          </div>
        </div>
        </div>  

      <!-- <div class="row">
        <div class="col-md-3 pl-1" *ngIf="formControls.state">
            <div class="form-group">
                <label>State</label>
          <select class="form-control" id="state" formControlName="state">
            <option value=''></option>
            <option  *ngFor="let stat of states" [ngValue]="stat._id"> {{ stat.name }} </option>
          </select>
          </div>
        </div>
      </div>   -->
      <div class="row">
          <div class="col-md-3 pl-1" *ngIf="formControls.stateId">
      <div class="form-group">
          <label for="stateId">State:</label>
          <select class="form-control" id="stateId" formControlName="stateId">
            <option value=''></option>
            <option *ngFor="let state of states" [ngValue]="state._id"> {{ state.name }}</option>
          </select>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 pl-1" *ngIf="formControls.lat">
          <div class="form-group">
            <label>Latitude</label>
            <input type="text" id="lat" class="form-control" formControlName="lat"
                   placeholder="Add Latitude">
          </div>
        </div>

        <div class="col-md-3 pl-1" *ngIf="formControls.lng">
          <div class="form-group">
            <label>Longitute</label>
            <input type="text" id="lng" class="form-control" formControlName="lng"
                   placeholder="Add Longitute">
          </div>
        </div>
        </div>

     

      <div class="row">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
<!-- </div> -->
