<!-- <div class="alert alert-info" role="alert" *ngIf="auction && auction.bids && auction.bids.length>0">
  Best Bid : INR {{getBestBid()}}
</div> -->
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active' : activeTab==='addcity'}" (click)="changeTab('addcity')">
      <span>Add new City</span>
    </a>
  </li>
  <li class="nav-item" *ngIf="role=='admin' || role=='agent' || role=='seller'">
    <a class="nav-link" [ngClass]="{'active' : activeTab==='cityList'}" (click)="changeTab('cityList')">
      <span>View all Cities</span>
    </a>
  </li>
  <!-- <li class="nav-item" *ngIf="role=='admin' || role=='agent' || role=='seller'">
    <a class="nav-link" [ngClass]="{'active' : activeTab==='bargainList'}" (click)="changeTab('bargainList')">
      <span>Bargain Options</span>
    </a>
  </li> -->
</ul>
<!-- Tab panes -->
<div class="tab-content">
  
  <div class="tab-pane container" [ngClass]="{'active' : activeTab==='addcity'}" id="addcity">
    <div class="spinner-grow loader text-success" *ngIf="loading"></div>
    <app-add-city></app-add-city>
  </div>

  <div class="tab-pane container" [ngClass]="{'active' : activeTab==='cityList'}" id="cityList"
    *ngIf="role=='admin' || role=='agent' || role=='seller'">
    <div class="spinner-grow loader text-success" *ngIf="loading"></div>
    <app-city-list></app-city-list>
  </div>

  <!-- <div class="tab-pane container" [ngClass]="{'active' : activeTab==='bargainList'}" id="bargainList"
    *ngIf="role=='admin' || role=='agent' || role=='seller'">
    <div class="spinner-grow loader text-success" *ngIf="loading"></div>
    <app-product-bargain-list></app-product-bargain-list>
  </div> -->

</div>
