<nav id="sidebar">
  <ul class="list-unstyled components">
    <li>
      <a
        class="nav-link scrollto p"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/auction/add"
      >List for Auction</a>
    </li>
    <li>
      <a
        class="nav-link scrollto p"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/auction"
      >Auction List</a>
    </li>
    <li>
      <a
        class="nav-link scrollto p"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/auction/status"
      >Auction Status</a>
    </li>
  </ul>
</nav>
