<div class="container">
    <div class="container listingOffsetTextColor">
      <div class="spinner-grow loader text-success" *ngIf="loading"></div>
      <div class="row">
        <h4>Showing All bargain details</h4>
      </div>
        <table class="table table-hover table-sm" [ngClass]="{'loading' : loading}" *ngIf="!loading">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Category</th>
                <th scope="col">Item Code</th>
                <th scope="col">Quantity</th>
                <th scope="col">Status</th>
                <th scope="col" *ngIf="role == 'admin'">Seller</th>
                <th scope="col" *ngIf="role == 'admin'">Buyer</th>
                <th scope="col">Requested on</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let bargain of data | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: p, totalItems: totalRecords }">
              <tr>
                <td>{{bargain.item.name.name}}</td>
                <td>{{bargain.item.category.name}}</td>
                <td>{{bargain.item.sampleNo}}</td>
                <td>{{bargain.quantity}} {{bargain.item.unit.mass}}</td>
                <td>{{bargain.bargainstatus}}</td>
                <td *ngIf="role == 'admin'">{{bargain.seller.name}}</td>
                <td *ngIf="role == 'admin'">{{bargain.buyer.name}}</td>
                <td>{{bargain.firstquote.requestedon | date:'dd-MMM-yy hh:mm a'}}</td>
                <td><a href = "/bargainQuote/{{bargain._id}}">See Details</a></td>
              </tr>
            </ng-container>
            <ng-container *ngIf="!data || data.length==0">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> No Data Found </td>
                <td *ngIf="role == 'admin'"></td>
                <td *ngIf="role == 'admin'"></td>
                <td></td>
                <td></td>
              </tr>
            </ng-container>
              </tbody>
              </table>

              <div class="has-text-centered">
                <pagination-controls (pageChange)="getPage($event)" id="server" *ngIf="!loading"></pagination-controls>
              </div>
          <!-- <nav aria-label="Page navigation example" *ngIf="totalPages.length>0">
              <ul class="pagination">
                <li class="page-item" [ngClass]="{ 'disabled' : currentPage <= 1}"><a class="page-link"
                                                                                      (click)="onPageChange(currentPage-1)">Previous</a>
                </li>
                <li class="page-item" [ngClass]="{ 'active' : currentPage== page}" *ngFor="let page of totalPages"><a
                  class="page-link"
                  (click)="onPageChange(page)">{{page}}</a></li>
                <li class="page-item" [ngClass]="{ 'disabled' : currentPage>=totalPages.length}"><a class="page-link"
                                                                                                    (click)="onPageChange(currentPage+1)">Next</a>
                </li>
              </ul>
            </nav> -->
    </div>
  </div>
