.listingOffsetTextColor {
  padding-top: 80px;
  color: black;
  // padding-left: 9.5%;
  // padding-right: 3%;
}

.ItemCardContainer {
  padding: 5px;
}

.container{
  padding-left: 0px;
}

.loader {
  z-index: 2;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 40%;
}