<div class="farmbg"></div>
<div class="container shdw">
    <div class="listingOffsetTextColor">
  <div class="row container bordermk">

    <div class="col-12 col-md-6">
      <div class="ItemCardContainer">
          <div class="card ItemCardDesc">
              <div class="card-body">
            <img class="card-img-top ItemCardImage" [src]="listing.image" alt="{{
              listing.name }}">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="ItemCardContainer">
        <div class="card ItemCardDesc">
          <div class="card-body">
              <table style="width:100%" *ngIf="!bargain.bargainstatus">
                  <tr>
                      <th><h4>Submit a bargain price to seller</h4></th>
                    </tr>  
                    <th>
                        <h3 class="card-title"> {{ listing.name.name }} | {{ listing.category.name }}</h3>
                      </th>
                    <tr>
                    <th>Sample Number: {{ listing.sampleNo}}</th>
                  </tr>
                  <tr>
                    <th>Origin: {{listing.origin}}</th>
                  </tr>
                  <tr>
                    <th>Manufacturer: {{listing.manufacturer.name}}</th>
                  </tr>
                  <tr>
                    <th>List Price: Rs. {{ listing.price }}/{{ listing.unit.mass }} </th>
                  </tr>
                  <tr>
                    <th>Minimum bargain Qty {{ listing.bargaintrgqty }} {{ listing.unit.mass }}</th>
                  </tr>
                  </table>
              <form #f="ngForm" class="form-horizontal" (ngSubmit)="createBargain(f.value)" *ngIf="!bargain.bargainstatus">
                 
                    <div class="form-group col-md-6" *ngIf="!bargain.bargainstatus">
                      <label for="quantity">Enter quantity</label>
                      <input required ngModel name="quantity" #firstquote="ngModel" id="quantity"
                  type="number" class="form-control">
                    </div>
                    <div class="form-group col-md-6" *ngIf="!bargain.bargainstatus">
                      <label for="price">Enter your price</label>
                      <input required ngModel name="firstquote" #firstquote="ngModel" id="firstquote"
                  type="number" class="form-control">
                    </div>

                  <button type="submit" class="btn btn-primary">Make Request</button>
                </form>
        </div>

        </div>
      </div>
    </div>


  </div>
</div>
</div>



